.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.show__password{
  right: 10px;
  top: 0;
  left: auto;
  height: 100%;
  align-items: center;
  display:flex
}
.h-100vh{
  height: 100vh;
}